@import "tailwindcss";

:root {
  --primary: #222222;
  --secondery: #767676;
  --third: #D6001C;
 
}

@theme {
  --color-primary: var(--primary);
  --color-secondery: var(--secondery);
  --color-third: var(--third);
  --font-jost: var(--font-jost);
}